# 依赖与构建产物
node_modules/
dist/
out/
build/
*.tsbuildinfo

# 运行时和临时文件
.DS_Store
.eslintcache
*.log*
*.tmp
*.swp

# VSCode 配置
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# 环境变量
# .env # 已使用 dotenvx 第三方库进行加密
.env.*
env/.env*


# 数据库与本地存储
*.sqlite
*.db
*.db-journal
data/
uploads/

# Electron/平台相关
*.asar
*.exe
*.app
*.dmg
*.deb
*.rpm

# 测试输出
coverage/
test-results/

# 私钥存储以及本地密钥管理目录
.pem
.vault/
